
#popup-point{
    position: fixed;
    width: 30px;
    height: 30px;
    background: #ff4083;
    border-radius: 50%;
}
.videoElem{
    // position: absolute;
    // top:0px;
    // left: 0px;
    margin:0px !important;
    padding: 0px !important;
    position: absolute;
    left:0px;
    top:0px;

}

.faceDrawCanvas{
    position: absolute;
    top:0px;
    left: 0px;
}
#eyesArea {
    position: absolute;
    top:0px;
    left: 0px; 
}
.video-min-width{
    width:400px;
    height:300px;
}